
config syslog 'syslog'
	option tcp_input_port '514'
	option udp_input '0'
	option tcp_input '0'
	option udp_input_port '514'
	option default_template 'RSYSLOG_FileFormat'
	list modules 'imuxsock'
	list modules 'imklog'

config selector 
	option source '*.*'
	option destination '/var/log/messages'
