
config dnsmasq
	option domainneeded '1'
	option rebind_protection '0'
	option local '/{{ local_domain }}/'
	option domain '{{ local_domain }}'
	option expandhosts '1'
	option cachesize '1000'
	option authoritative '1'
	option readethers '1'
	option leasefile '/tmp/dhcp.leases'
	option resolvfile '/tmp/resolv.conf.d/resolv.conf.auto'
	option localservice '0'
	option ednspacket_max '1232'
	list interface 'docker'
	list interface 'lan'
	list server '/*.{{ local_domain }}/{{ main_local_dns }}'
	option boguspriv '0'

config dhcp 'lan'
	option interface 'lan'
	option start '40'
	option limit '50'
	option leasetime '24h'
	option dhcpv4 'server'
	list dhcp_option ' 42,{{ local_ip_address }}'
	list dhcp_option '6,{{ local_ip_address }}'

config dhcp 'wan'
	option interface 'wan'
	option ignore '1'
	option start '100'
	option limit '150'
	option leasetime '12h'

config odhcpd 'odhcpd'
	option maindhcp '0'
	option leasefile '/tmp/hosts/odhcpd'
	option leasetrigger '/usr/sbin/odhcpd-update'
	option loglevel '4'

config domain
        option name 'mqtt.example.com'
        option ip '{{ local_ip_address }}'
