config globals 'globals'
        option alt_config_file /opt/docker/etc/daemon.json
#       option data_root '/opt/docker/'
#       option log_level 'warn'
#       option iptables '1'
#       option remote_endpoint '0'
#       option bip '10.254.0.1/16'

#config firewall 'firewall'
#       option device 'docker0'
#       list blocked_interfaces 'wan'
